<aside class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <img src="/assets/logos/logo-light.png" alt="Logo" width="160" height="auto">
    </div>
    <div class="list-group list-group-flush my-3">
      <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
      <a href="/profile" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-user me-2"></i>Profile</a>
      <a href="/change-password" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-key me-2"></i>Change Password</a>
      <a href="/create-programs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-users me-2"></i>Create Programs</a>
      <a href="/show-programs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-table me-2"></i>Show Programs</a>
      <a href="/create-users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-users me-2"></i>Create Users</a>
      <a href="/show-users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-list me-2"></i>Show Users</a>
      <a href="/emails" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-paper-plane me-2"></i>Emails</a>
      <a href="/payouts" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-money-bill-wave me-2"></i>Payouts</a>
      <a href="/settings" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-cog me-2"></i>Settings</a>
      <a href="/webhooks" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class=""></i>webhooks</a>
    </div>
  </aside>