<div class="tab-pane active" id="basic">
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Powered by text</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_powered" value="Powered"
                    class="form-control field_admin_powered _normal_" placeholder="Input Powered by text">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Site Name</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_name" value="funded.app" class="form-control field_admin_name _normal_"
                    placeholder="Input Site Name">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Site Title</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_title" value="funded.app" class="form-control field_admin_title _normal_"
                    placeholder="Input Site Title">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <label class="col-md-2 text-capitalize control-label">Top Menu?</label>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <input name="admin_layout_horizontal-menu" type="hidden" value="0">
            <input type="checkbox" name="admin_layout_horizontal-menu"
                class="field_admin_layout_horizontal-menu _normal_" data-size="small" data-color="#586cb1" value="1"
                data-plugin="form-30AZLfkvswitchery" initialized="1" id="_ab024b886700392" data-switchery="true"
                style="display: none;">
            <span class="switchery switchery-small"
                style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;">
                <small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </div>
    </div>
    <div class="form-group row form-field">
        <label class="col-md-2 text-capitalize control-label">Contact Us Enabled</label>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <input name="admin_contactus-enabled" type="hidden" value="0">
            <input type="checkbox" name="admin_contactus-enabled" class="field_admin_contactus-enabled _normal_"
                checked="" data-size="small" data-color="#586cb1" value="1" data-plugin="form-30AZLfkvswitchery"
                initialized="1" id="_554ba81a8626715" data-switchery="true" style="display: none;"><span
                class="switchery switchery-small"
                style="background-color: rgb(88, 108, 177); border-color: rgb(88, 108, 177); box-shadow: rgb(88, 108, 177) 0px 0px 0px 11px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small
                    style="left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </div>
    </div>
    <div class="form-group row form-field">
        <label class="col-md-2 text-capitalize control-label">Dark Mode Switch</label>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <input name="admin_layout_dark-mode-switch" type="hidden" value="0">
            <input type="checkbox" name="admin_layout_dark-mode-switch"
                class="field_admin_layout_dark-mode-switch _normal_" checked="" data-size="small" data-color="#586cb1"
                value="1" data-plugin="form-30AZLfkvswitchery" initialized="1" id="_792532025b622b9"
                data-switchery="true" style="display: none;"><span class="switchery switchery-small"
                style="background-color: rgb(88, 108, 177); border-color: rgb(88, 108, 177); box-shadow: rgb(88, 108, 177) 0px 0px 0px 11px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small
                    style="left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Contact Us Link</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_contactus-link" value=""
                    class="form-control field_admin_contactus-link _normal_" placeholder="Input Contact Us Link">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>WordPress Host</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_wordpress_host" value=""
                    class="form-control field_admin_wordpress_host _normal_" placeholder="Input WordPress Host">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>WordPress Client ID</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_wordpress_client-id" value=""
                    class="form-control field_admin_wordpress_client-id _normal_"
                    placeholder="Input WordPress Client ID">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>WordPress Client Secret</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_wordpress_client-secret" value=""
                    class="form-control field_admin_wordpress_client-secret _normal_"
                    placeholder="Input WordPress Client Secret">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Menu Style</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <input type="hidden" name="admin_layout_sidebar-style">
            <div class="d-flex flex-wrap">
                <div class="vs-radio-con vs-radio-primary" style="margin-right: 16px">
                    <input value="light" name="admin_layout_sidebar-style"
                        class="field_admin_layout_sidebar-style _normal_ Dcat_Admin_Widgets_Radio" type="radio">
                    <span class="vs-radio vs-radio-">
                        <span class="vs-radio--border"></span>
                        <span class="vs-radio--circle"></span>
                    </span>
                    <span>Light</span>
                </div>
                <div class="vs-radio-con vs-radio-primary" style="margin-right: 16px">
                    <input value="dark" name="admin_layout_sidebar-style"
                        class="field_admin_layout_sidebar-style _normal_ Dcat_Admin_Widgets_Radio" type="radio"
                        checked="">
                    <span class="vs-radio vs-radio-">
                        <span class="vs-radio--border"></span>
                        <span class="vs-radio--circle"></span>
                    </span>
                    <span>Dark</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Some Other Field</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_some-other-field" value=""
                    class="form-control field_admin_some-other-field _normal_" placeholder="Input Some Other Field">
            </div>
        </div>
    </div>
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Additional Field 1</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_additional-field-1" value=""
                    class="form-control field_admin_additional-field-1 _normal_" placeholder="Input Additional Field 1">
            </div>
        </div>
    </div>
    
    <div class="form-group row form-field">
        <div class="col-md-2 text-capitalize control-label">
            <span>Additional Field 2</span>
        </div>
        <div class="col-md-8">
            <div class="help-block with-errors"></div>
            <div class="input-group">
                <span class="input-group-prepend"><span class="input-group-text bg-white"><i
                            class="feather icon-edit-2"></i></span></span>
                <input type="text" name="admin_additional-field-2" value=""
                    class="form-control field_admin_additional-field-2 _normal_" placeholder="Input Additional Field 2">
            </div>
        </div>
    </div>
</div>